Load libraries

Set parameters to extend java's memory usage to keep xlsx scripts from crashing

In [1]:
# set parameters to extend java's memory usage
# to keep xlsx scripts from crashing
options(java.parameters = "-Xmx8000m")

library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

Read in FBXSITA final mailfile

In [2]:
mb_pbfbxs_ita_0518 <- read.table("E:/Pallavi/2018/rev1/rev2/mailfile/mailfiles/561) 117487A_RMC_PBFBXS5.0_18ITA_Final_Mailfile.TXT", 
                                 fill=TRUE, header=TRUE, sep="\t",
                                 quote="")

Print dimentions

In [3]:
dim(mb_pbfbxs_ita_0518)

[1] 97500    49

Print summary of variables

In [4]:
str(mb_pbfbxs_ita_0518)
summary(mb_pbfbxs_ita_0518)

'data.frame':	97500 obs. of  49 variables:
 $ ï..campaign_id     : Factor w/ 3 levels "AutoXSITA5.0_2018",..: 2 2 2 2 2 2 2 2 3 2 ...
 $ HHfilecode         : Factor w/ 2 levels "FB","XS": 1 1 1 1 1 1 1 1 2 1 ...
 $ BATCH              : Factor w/ 2 levels "FMITA","PMITA": 1 1 1 1 1 1 1 1 1 1 ...
 $ LETTERCD           : Factor w/ 2 levels "FB","XS": 1 1 1 1 1 1 1 1 2 1 ...
 $ SS7                : Factor w/ 97231 levels "0001218","0005366",..: 45152 43563 80601 69759 79283 84223 48348 55892 22820 7414 ...
 $ NAME1              : Factor w/ 89107 levels "A. Coker","A. Ja Nay Bucholtz",..: 15041 83442 47438 4102 85483 86470 77900 7859 14536 37169 ...
 $ ADDR2              : Factor w/ 2054 levels "","'"," ","(chayenne Sub)",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ STREET             : Factor w/ 94356 levels "","1 A St. Ste A",..: 33058 66371 5598 2499 2646 91016 32165 6839 6540 6541 ...
 $ CITY               : Factor w/ 2659 levels "","Abbeville",..: 225 225 225 612 612 1122 1921 1921 1921 1921 ...
 $ STATE              : Factor w/ 10 levels "","AL","GA","NC",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ ZIP5               : int  31302 31302 31302 31305 31305 31313 31322 31322 31322 31322 ...
 $ ZIP4               : int  8031 9218 8111 5800 5828 4518 2306 3137 3360 3377 ...
 $ DOB                : int  19881023 19701105 19620726 19811202 19751023 19890924 19560714 19620117 19710828 19840701 ...
 $ Made_UnMade        : logi  NA NA NA NA NA NA ...
 $ QSEQNUM            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Drop_Date          : Factor w/ 2 levels "","05/07/2018": 2 2 2 2 2 2 2 2 2 2 ...
 $ Closed_Date        : Factor w/ 2 levels "","06/05/2018": 2 2 2 2 2 2 2 2 2 2 ...
 $ MLA_Status         : Factor w/ 3 levels "","N","Z": 2 2 2 2 2 2 2 2 2 2 ...
 $ BranchNumber       : int  1101 1101 1101 1102 1102 1101 1101 1101 1101 1101 ...
 $ BranchCompany      : Factor w/ 2 levels "","Regional Finance": 2 2 2 2 2 2 2 2 2 2 ...
 $ BranchStreetAddress: Factor w/ 341 levels "","100 Forum Drive, Suite 4",..: 289 289 289 206 206 289 289 289 289 289 ...
 $ BranchCity         : Factor w/ 261 levels "","Abilene","Abingdon",..: 217 217 217 42 42 217 217 217 217 217 ...
 $ BranchState        : Factor w/ 10 levels "","AL","GA","NC",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ BranchZip          : Factor w/ 341 levels "","20110-1700",..: 129 129 129 130 130 129 129 129 129 129 ...
 $ BranchPhone        : Factor w/ 341 levels "","(205) 227-0090",..: 290 290 290 289 289 290 290 290 290 290 ...
 $ BranchFax          : Factor w/ 341 levels "","(205) 210-4965",..: 304 304 304 303 303 304 304 304 304 304 ...
 $ BranchManager      : Factor w/ 338 levels ""," ","Aaron Balls",..: 85 85 85 38 38 85 85 85 85 85 ...
 $ BranchSupervisor   : Factor w/ 41 levels ""," ","Andrew Ivy",..: 28 28 28 28 28 28 28 28 28 28 ...
 $ BranchStateVP      : Factor w/ 7 levels ""," ","Heather Meares",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Distance_to_Branch : num  14.8 13.2 18.7 17.9 17.9 ...
 $ ConProfile         : num  NA NA NA NA 1e+12 ...
 $ BrAcctNo           : Factor w/ 96890 levels "","0101034890",..: 83686 83833 83791 83971 84010 83814 83475 83550 94432 83815 ...
 $ CifNo              : Factor w/ 87611 levels ""," ","100025",..: 74119 72293 75862 76677 76110 79270 73692 75360 2 79399 ...
 $ MGC                : logi  NA NA NA NA NA NA ...
 $ Month_Split        : logi  NA NA NA NA NA NA ...
 $ FNAME              : Factor w/ 15025 levels "","A","A Ja Nay",..: 2451 13784 7299 660 14345 14462 12742 1368 2412 6158 ...
 $ MNAME              : Factor w/ 416 levels ""," ","\"TRENT\"",..: 2 2 7 140 7 2 280 183 2 7 ...
 $ LNAME              : Factor w/ 24763 levels "","A","Aaron",..: 17388 19474 18108 17129 17655 18793 9206 23703 1914 14078 ...
 $ amt_given1         : logi  NA NA NA NA NA NA ...
 $ up_to_OFFER        : Factor w/ 3 levels "","6,000","7,000": 3 3 3 3 3 3 3 3 3 3 ...
 $ From_Offer_Amount  : Factor w/ 4 levels "","2,501","600",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Fico_Range_25pt    : Factor w/ 21 levels ""," ","<500",..: 8 2 10 9 10 7 9 12 5 9 ...
 $ State1             : Factor w/ 10 levels ""," ","AL","GA",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ Test_Code          : logi  NA NA NA NA NA NA ...
 $ fico               : int  593 NA 639 608 626 551 623 675 523 606 ...
 $ POffDate           : Factor w/ 1113 levels ""," ","2014-11-17",..: 954 445 1018 854 1080 1090 755 871 2 1052 ...
 $ RMC_Phone          : Factor w/ 57154 levels ""," ","()-","(000)000-0001",..: 41940 42054 41829 41973 41900 2 41887 41830 55930 2 ...
 $ RMC_CellPhone      : Factor w/ 15241 levels ""," ","()-","(110)906-1367",..: 14042 2 2026 2 2 14490 2 2 2 10107 ...
 $ X                  : logi  NA NA NA NA NA NA ...

             ï..campaign_id  HHfilecode   BATCH       LETTERCD
 AutoXSITA5.0_2018  : 2025   FB:88173   FMITA:49118   FB:88173
 FBITA5.0_2018      :88173   XS: 9327   PMITA:48382   XS: 9327
 RetailXSITA5.0_2018: 7302




      SS7                    NAME1           ADDR2                STREET
 3709069:    3   Maria Garcia   :   37          :94019               :  124
 0043521:    2   Maria Martinez :   36          :   77   P.O. Box 93 :    7
 0118294:    2   Jose Hernandez :   34   Apt. B :   48   P.O. Box 203:    6
 0137024:    2   Maria Hernandez:   34   Rd.    :   47   P.O. Box 34 :    6
 0177992:    2   Maria Rodriguez:   34   Apt. A :   46   P.O. Box 75 :    6
 0194846:    2   Jose Martinez  :   33   Apt. D :   33   P.O. Box 114:    5
 (Other):97487   (Other)        :97292   (Other): 3230   (Other)     :97346
          CITY           STATE            ZIP5            ZIP4
 Houston    : 4841   TX     :39010   Min.   :20112   Min.   :   1
 San Antonio: 3896   SC     :15867   1st Qu.:29730   1st Qu.:2747
 El Paso    : 2597   AL     :12186   Median :38474   Median :4468
 Fort Worth : 1293   NC     : 9221   Mean   :54625   Mean   :4801
 Charlotte  : 1186   TN     : 7930   3rd Qu.:77433   3rd Qu.:6760
 Dallas     : 1180   OK     : 6485   Max.   :88352   Max.   :9999
 (Other)    :82507   (Other): 6801   NA's   :611     NA's   :611
      DOB           Made_UnMade       QSEQNUM           Drop_Date
 Min.   :18810310   Mode:logical   Min.   :    1             :  611
 1st Qu.:19571023   NA's:97500     1st Qu.:24376   05/07/2018:96889
 Median :19680318                  Median :48764
 Mean   :19677197                  Mean   :48767
 3rd Qu.:19790323                  3rd Qu.:73162
 Max.   :20211114                  Max.   :97576
 NA's   :15213                     NA's   :611
     Closed_Date    MLA_Status  BranchNumber             BranchCompany
           :  611    :  611    Min.   : 101.0                   :  611
 06/05/2018:96889   N:82280    1st Qu.: 520.0   Regional Finance:96889
                    Z:14609    Median : 574.0
                               Mean   : 602.2
                               3rd Qu.: 803.0
                               Max.   :1217.0
                               NA's   :611
                          BranchStreetAddress       BranchCity
 1703 Shaver Street                 :  751    San Antonio: 4319
 2021 Gallatin Pike North, Suite 240:  747    Houston    : 2796
 3910 Fairmont Parkway, Suite D     :  745    El Paso    : 2606
 6240 Phelan Blvd                   :  733    Columbia   : 1860
 500 8th Avenue, Suite 100          :  723    Fort Worth : 1680
 1121 SW Military Drive, Suite 103  :  703    Pasadena   : 1496
 (Other)                            :93098    (Other)    :82743
  BranchState         BranchZip             BranchPhone
 TX     :39010   77502-2027:  751   (832) 786-3844:  751
 SC     :15867   37115-2029:  747   (615) 851-5054:  747
 AL     :12186   77504-3066:  745   (281) 487-3529:  745
 NC     : 9221   77706-6120:  733   (409) 866-1931:  733
 TN     : 7930   76104-2065:  723   (817) 870-9929:  723
 OK     : 6485   78221-1672:  703   (210) 924-2220:  703
 (Other): 6801   (Other)   :93098   (Other)       :93098
          BranchFax               BranchManager          BranchSupervisor
 (832) 559-0679:  751   Crystal Martinez :  751   Sandra Lopez   : 4979
 (615) 647-6852:  747   Al Kozlowski     :  747   Javier Sagardia: 4592
 (281) 305-2747:  745   Maritza Manriquez:  745                  : 4474
 (409) 263-0364:  733   Lorigine Bender  :  733   Stephanie Drake: 4386
 (817) 200-7112:  723   Nick Hoff        :  723   Joe Gandaria   : 3745
 (210) 417-4208:  703   George Silva     :  703   Nellie Carrillo: 3717
 (Other)       :93098   (Other)          :93098   (Other)        :71607
         BranchStateVP   Distance_to_Branch   ConProfile
                :  611   Min.   :  0.000    Min.   :0.000e+00
                :13260   1st Qu.:  2.780    1st Qu.:1.000e+12
 Heather Meares :15168   Median :  5.323    Median :1.000e+12
 Kenny Haynes   :17151   Mean   :  8.156    Mean   :9.101e+11
 Lee Wright     :  636   3rd Qu.:  9.989    3rd Qu.:1.000e+12
 Michael Johnson:34807   Max.   :694.135    Max.   :1.000e+12
 Scott Juvelier :15867   NA's   :611        NA's   :38959
       BrAcctNo         CifNo         MGC          Month_Split
           :  611          : 9280   Mode:logical   Mode:logical
 0101034890:    1          :  611   NA's:97500     NA's:97500
 0101035303:    1   100025 :    1
 0101035314:    1   100049 :    1
 0101035316:    1   100056 :    1
 0101035479:    1   100071 :    1
 (Other)   :96884   (Other):87605
     FNAME           MNAME             LNAME       amt_given1     up_to_OFFER
 MARIA  : 1277          :91126   SMITH    :  783   Mode:logical        :  611
 JAMES  : 1202          :  611   WILLIAMS :  763   NA's:97500     6,000:12186
 MICHAEL: 1149   L      :  461   JOHNSON  :  729                  7,000:84703
 ROBERT :  941   A      :  408   GARCIA   :  681
 JOSE   :  932   M      :  382   MARTINEZ :  673
 DAVID  :  921   (Other): 4511   HERNANDEZ:  658
 (Other):91078   NA's   :    1   (Other)  :93213
 From_Offer_Amount Fico_Range_25pt     State1      Test_Code
      :  611       625-649:21285          :39027   Mode:logical
 2,501:  133       600-624:20509   SC     :15880   NA's:97500
 600  :87535       650-674:16331   AL     :12206
 700  : 9221       575-599:12196   NC     : 9232
                   550-574: 6633   TN     : 7931
                   675-699: 6531   OK     : 6501
                   (Other):14015   (Other): 6723
      fico             POffDate             RMC_Phone           RMC_CellPhone
 Min.   :  0.0             : 9280                :39003   ()-          :63889
 1st Qu.:597.0             :  611                :  611                :17642
 Median :627.0   2018-02-22:  355   (111)111-1111:   50                :  611
 Mean   :632.4   2018-02-23:  239   (999)999-9999:   46   (111)111-1111:   11
 3rd Qu.:657.0   2017-02-23:  229   2.05E+12     :   37   (205)000-0000:    7
 Max.   :999.0   2018-02-09:  228   3.34E+12     :   37   (999)999-9999:    6
 NA's   :831     (Other)   :86558   (Other)      :57716   (Other)      :15334
    X
 Mode:logical
 NA's:97500

Store `ï..campaign_id` as `campaign_id`

In [5]:
mb_pbfbxs_ita_0518$campaign_id <- mb_pbfbxs_ita_0518$ï..campaign_id

Find unique campaign IDs

In [6]:
unique(mb_pbfbxs_ita_0518$campaign_id)

[1] FBITA5.0_2018       RetailXSITA5.0_2018 AutoXSITA5.0_2018
Levels: AutoXSITA5.0_2018 FBITA5.0_2018 RetailXSITA5.0_2018

Subset the FBITA campaign

In [7]:
mb_fb_ita_0518 <- sqldf(
  "
  SELECT * 
  FROM mb_pbfbxs_ita_0518 
  WHERE campaign_id IN ('FBITA5.0_2018')
  "
  )

Print dimensions

In [8]:
dim(mb_fb_ita_0518)

[1] 88173    50

Print summary of variables

In [9]:
str(mb_fb_ita_0518)
summary(mb_fb_ita_0518)

'data.frame':	88173 obs. of  50 variables:
 $ Ã¯..campaign_id    : chr  "FBITA5.0_2018" "FBITA5.0_2018" "FBITA5.0_2018" "FBITA5.0_2018" ...
 $ HHfilecode         : Factor w/ 2 levels "FB","XS": 1 1 1 1 1 1 1 1 1 1 ...
 $ BATCH              : Factor w/ 2 levels "FMITA","PMITA": 1 1 1 1 1 1 1 1 1 1 ...
 $ LETTERCD           : Factor w/ 2 levels "FB","XS": 1 1 1 1 1 1 1 1 1 1 ...
 $ SS7                : Factor w/ 97231 levels "0001218","0005366",..: 45152 43563 80601 69759 79283 84223 48348 55892 7414 91062 ...
 $ NAME1              : Factor w/ 89107 levels "A. Coker","A. Ja Nay Bucholtz",..: 15041 83442 47438 4102 85483 86470 77900 7859 37169 49717 ...
 $ ADDR2              : Factor w/ 2054 levels "","'"," ","(chayenne Sub)",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ STREET             : Factor w/ 94356 levels "","1 A St. Ste A",..: 33058 66371 5598 2499 2646 91016 32165 6839 6541 16676 ...
 $ CITY               : Factor w/ 2659 levels "","Abbeville",..: 225 225 225 612 612 1122 1921 1921 1921 1921 ...
 $ STATE              : Factor w/ 10 levels "","AL","GA","NC",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ ZIP5               : int  31302 31302 31302 31305 31305 31313 31322 31322 31322 31322 ...
 $ ZIP4               : int  8031 9218 8111 5800 5828 4518 2306 3137 3377 4076 ...
 $ DOB                : int  19881023 19701105 19620726 19811202 19751023 19890924 19560714 19620117 19840701 19790307 ...
 $ Made_UnMade        : logi  NA NA NA NA NA NA ...
 $ QSEQNUM            : int  1 2 3 4 5 6 7 8 10 11 ...
 $ Drop_Date          : Factor w/ 2 levels "","05/07/2018": 2 2 2 2 2 2 2 2 2 2 ...
 $ Closed_Date        : Factor w/ 2 levels "","06/05/2018": 2 2 2 2 2 2 2 2 2 2 ...
 $ MLA_Status         : Factor w/ 3 levels "","N","Z": 2 2 2 2 2 2 2 2 2 2 ...
 $ BranchNumber       : int  1101 1101 1101 1102 1102 1101 1101 1101 1101 1101 ...
 $ BranchCompany      : Factor w/ 2 levels "","Regional Finance": 2 2 2 2 2 2 2 2 2 2 ...
 $ BranchStreetAddress: Factor w/ 341 levels "","100 Forum Drive, Suite 4",..: 289 289 289 206 206 289 289 289 289 289 ...
 $ BranchCity         : Factor w/ 261 levels "","Abilene","Abingdon",..: 217 217 217 42 42 217 217 217 217 217 ...
 $ BranchState        : Factor w/ 10 levels "","AL","GA","NC",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ BranchZip          : Factor w/ 341 levels "","20110-1700",..: 129 129 129 130 130 129 129 129 129 129 ...
 $ BranchPhone        : Factor w/ 341 levels "","(205) 227-0090",..: 290 290 290 289 289 290 290 290 290 290 ...
 $ BranchFax          : Factor w/ 341 levels "","(205) 210-4965",..: 304 304 304 303 303 304 304 304 304 304 ...
 $ BranchManager      : Factor w/ 338 levels ""," ","Aaron Balls",..: 85 85 85 38 38 85 85 85 85 85 ...
 $ BranchSupervisor   : Factor w/ 41 levels ""," ","Andrew Ivy",..: 28 28 28 28 28 28 28 28 28 28 ...
 $ BranchStateVP      : Factor w/ 7 levels ""," ","Heather Meares",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Distance_to_Branch : num  14.8 13.2 18.7 17.9 17.9 ...
 $ ConProfile         : num  NA NA NA NA 1e+12 ...
 $ BrAcctNo           : Factor w/ 96890 levels "","0101034890",..: 83686 83833 83791 83971 84010 83814 83475 83550 83815 83770 ...
 $ CifNo              : Factor w/ 87611 levels ""," ","100025",..: 74119 72293 75862 76677 76110 79270 73692 75360 79399 79177 ...
 $ MGC                : logi  NA NA NA NA NA NA ...
 $ Month_Split        : logi  NA NA NA NA NA NA ...
 $ FNAME              : Factor w/ 15025 levels "","A","A Ja Nay",..: 2451 13784 7299 660 14345 14462 12742 1368 6158 7942 ...
 $ MNAME              : Factor w/ 416 levels ""," ","\"TRENT\"",..: 2 2 7 140 7 2 280 183 7 361 ...
 $ LNAME              : Factor w/ 24763 levels "","A","Aaron",..: 17388 19474 18108 17129 17655 18793 9206 23703 14078 21114 ...
 $ amt_given1         : logi  NA NA NA NA NA NA ...
 $ up_to_OFFER        : Factor w/ 3 levels "","6,000","7,000": 3 3 3 3 3 3 3 3 3 3 ...
 $ From_Offer_Amount  : Factor w/ 4 levels "","2,501","600",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Fico_Range_25pt    : Factor w/ 21 levels ""," ","<500",..: 8 2 10 9 10 7 9 12 9 10 ...
 $ State1             : Factor w/ 10 levels ""," ","AL","GA",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ Test_Code          : logi  NA NA NA NA NA NA ...
 $ fico               : int  593 NA 639 608 626 551 623 675 606 633 ...
 $ POffDate           : Factor w/ 1113 levels ""," ","2014-11-17",..: 954 445 1018 854 1080 1090 755 871 1052 949 ...
 $ RMC_Phone          : Factor w/ 57154 levels ""," ","()-","(000)000-0001",..: 41940 42054 41829 41973 41900 2 41887 41830 2 2 ...
 $ RMC_CellPhone      : Factor w/ 15241 levels ""," ","()-","(110)906-1367",..: 14042 2 2026 2 2 14490 2 2 10107 14499 ...
 $ X                  : logi  NA NA NA NA NA NA ...
 $ campaign_id        : Factor w/ 3 levels "AutoXSITA5.0_2018",..: 2 2 2 2 2 2 2 2 2 2 ...

 Ã¯..campaign_id    HHfilecode   BATCH       LETTERCD        SS7
 Length:88173       FB:88173   FMITA:44371   FB:88173   0043521:    2
 Class :character   XS:    0   PMITA:43802   XS:    0   0118294:    2
 Mode  :character                                       0137024:    2
                                                        0177992:    2
                                                        0253279:    2
                                                        0338945:    2
                                                        (Other):88161
             NAME1           ADDR2                STREET
 Maria Garcia   :   36          :85073               :  108
 Jose Hernandez :   34          :   61   P.O. Box 93 :    7
 Maria Hernandez:   34   Rd.    :   47   P.O. Box 203:    6
 Maria Martinez :   34   Apt. B :   35   P.O. Box 75 :    6
 Maria Rodriguez:   32   Apt. A :   34   P.O. Box 114:    5
 Jose Martinez  :   30   Apt. D :   26   P.O. Box 136:    5
 (Other)        :87973   (Other): 2897   (Other)     :88036
          CITY           STATE            ZIP5            ZIP4
 Houston    : 4361   TX     :35432   Min.   :20112   Min.   :   1
 San Antonio: 3579   SC     :14429   1st Qu.:29906   1st Qu.:2749
 El Paso    : 2459   AL     :11103   Median :73012   Median :4475
 Fort Worth : 1085   TN     : 7604   Mean   :54999   Mean   :4801
 Dallas     : 1006   NC     : 7360   3rd Qu.:77469   3rd Qu.:6756
 Columbia   :  996   OK     : 6112   Max.   :88352   Max.   :9999
 (Other)    :74687   (Other): 6133   NA's   :564     NA's   :564
      DOB           Made_UnMade       QSEQNUM           Drop_Date
 Min.   :18810310   Mode:logical   Min.   :    1             :  564
 1st Qu.:19561109   NA's:88173     1st Qu.:24587   05/07/2018:87609
 Median :19660720                  Median :48833
 Mean   :19664522                  Mean   :48902
 3rd Qu.:19770330                  3rd Qu.:73345
 Max.   :20161013                  Max.   :97576
 NA's   :15166                     NA's   :564
     Closed_Date    MLA_Status  BranchNumber             BranchCompany
           :  564    :  564    Min.   : 101.0                   :  564
 06/05/2018:87609   N:73003    1st Qu.: 519.0   Regional Finance:87609
                    Z:14606    Median : 573.0
                               Mean   : 601.9
                               3rd Qu.: 803.0
                               Max.   :1217.0
                               NA's   :564
                          BranchStreetAddress       BranchCity
 2021 Gallatin Pike North, Suite 240:  730    San Antonio: 3985
 6240 Phelan Blvd                   :  706    Houston    : 2526
 3910 Fairmont Parkway, Suite D     :  691    El Paso    : 2472
 1703 Shaver Street                 :  679    Columbia   : 1642
 1121 SW Military Drive, Suite 103  :  662    Fort Worth : 1478
 500 8th Avenue, Suite 100          :  661    Pasadena   : 1370
 (Other)                            :84044    (Other)    :74700
  BranchState         BranchZip             BranchPhone
 TX     :35432   37115-2029:  730   (615) 851-5054:  730
 SC     :14429   77706-6120:  706   (409) 866-1931:  706
 AL     :11103   77504-3066:  691   (281) 487-3529:  691
 TN     : 7604   77502-2027:  679   (832) 786-3844:  679
 NC     : 7360   78221-1672:  662   (210) 924-2220:  662
 OK     : 6112   76104-2065:  661   (817) 870-9929:  661
 (Other): 6133   (Other)   :84044   (Other)       :84044
          BranchFax               BranchManager          BranchSupervisor
 (615) 647-6852:  730   Al Kozlowski     :  730   Sandra Lopez   : 4534
 (409) 263-0364:  706   Lorigine Bender  :  706                  : 4093
 (281) 305-2747:  691   Maritza Manriquez:  691   Javier Sagardia: 3957
 (832) 559-0679:  679   Crystal Martinez :  679   Stephanie Drake: 3880
 (210) 417-4208:  662   George Silva     :  662   Nellie Carrillo: 3484
 (817) 200-7112:  661   Nick Hoff        :  661   Joe Gandaria   : 3348
 (Other)       :84044   (Other)          :84044   (Other)        :64877
         BranchStateVP   Distance_to_Branch   ConProfile
                :  564   Min.   :  0.000    Min.   :0.000e+00
                :12426   1st Qu.:  2.836    1st Qu.:1.000e+12
 Heather Meares :13781   Median :  5.419    Median :1.000e+12
 Kenny Haynes   :14964   Mean   :  8.364    Mean   :9.101e+11
 Lee Wright     :  450   3rd Qu.: 10.194    3rd Qu.:1.000e+12
 Michael Johnson:31559   Max.   :694.135    Max.   :1.000e+12
 Scott Juvelier :14429   NA's   :564        NA's   :29632
       BrAcctNo         CifNo         MGC          Month_Split
           :  564          :  564   Mode:logical   Mode:logical
 0101034890:    1   100025 :    1   NA's:88173     NA's:88173
 0101035303:    1   100049 :    1
 0101035314:    1   100056 :    1
 0101035316:    1   100071 :    1
 0101035479:    1   100101 :    1
 (Other)   :87604   (Other):87604
     FNAME           MNAME             LNAME       amt_given1     up_to_OFFER
 MARIA  : 1252          :84812   SMITH    :  750   Mode:logical        :  564
 JAMES  : 1168          :  564   WILLIAMS :  724   NA's:88173     6,000:11103
 MICHAEL: 1117   L      :  320   JOHNSON  :  703                  7,000:76506
 JOSE   :  913   A      :  283   GARCIA   :  666
 ROBERT :  913   M      :  258   MARTINEZ :  648
 DAVID  :  894   D      :  185   HERNANDEZ:  646
 (Other):81916   (Other): 1751   (Other)  :84036
 From_Offer_Amount Fico_Range_25pt     State1      Test_Code
      :  564       625-649:21064          :35449   Mode:logical
 2,501:  105       600-624:18979   SC     :14442   NA's:88173
 600  :80144       650-674:16211   AL     :11123
 700  : 7360       575-599:10341   TN     : 7605
                   675-699: 6483   NC     : 7371
                   550-574: 4682   OK     : 6128
                   (Other):10413   (Other): 6055
      fico             POffDate             RMC_Phone           RMC_CellPhone
 Min.   :  0.0             :  564                :37004   ()-          :63889
 1st Qu.:605.0   2018-02-22:  355                :  564                : 8362
 Median :632.0   2018-02-23:  239   (111)111-1111:   50                :  564
 Mean   :639.4   2017-02-23:  229   (999)999-9999:   46   (111)111-1111:   11
 3rd Qu.:660.0   2018-02-09:  228   (843)000-0000:   18   (205)000-0000:    7
 Max.   :999.0   2016-02-10:  227   (256)000-0000:   11   (999)999-9999:    6
 NA's   :784     (Other)   :86331   (Other)      :50480   (Other)      :15334
    X                        campaign_id
 Mode:logical   AutoXSITA5.0_2018  :    0
 NA's:88173     FBITA5.0_2018      :88173
                RetailXSITA5.0_2018:    0

Print column names

In [10]:
colnames(mb_fb_ita_0518)

 [1] "Ã¯..campaign_id"     "HHfilecode"          "BATCH"
 [4] "LETTERCD"            "SS7"                 "NAME1"
 [7] "ADDR2"               "STREET"              "CITY"
[10] "STATE"               "ZIP5"                "ZIP4"
[13] "DOB"                 "Made_UnMade"         "QSEQNUM"
[16] "Drop_Date"           "Closed_Date"         "MLA_Status"
[19] "BranchNumber"        "BranchCompany"       "BranchStreetAddress"
[22] "BranchCity"          "BranchState"         "BranchZip"
[25] "BranchPhone"         "BranchFax"           "BranchManager"
[28] "BranchSupervisor"    "BranchStateVP"       "Distance_to_Branch"
[31] "ConProfile"          "BrAcctNo"            "CifNo"
[34] "MGC"                 "Month_Split"         "FNAME"
[37] "MNAME"               "LNAME"               "amt_given1"
[40] "up_to_OFFER"         "From_Offer_Amount"   "Fico_Range_25pt"
[43] "State1"              "Test_Code"           "fico"
[46] "POffDate"            "RMC_Phone"           "RMC_CellPhone"
[49] "X"                   "campaign_id"

Print `Drop_Date` variable type

In [11]:
typeof(mb_fb_ita_0518$Drop_Date)

[1] "integer"

Convert `Drop_Date` from integer to date type variable

In [12]:
mb_fb_ita_0518$Drop_Date <- as.Date("2018-05-07", format = "%Y-%m-%d",
                                    origin = "1970-01-01")

Save FBITA R data object

In [13]:
save(mb_fb_ita_0518,
     file = "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_fb_ita_0518.RData")

Load master FBITA R data object

In [14]:
load("C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_fb_ita.RData")

Convert FBITA master set variable, `Drop_Date`, from double to date type

In [15]:
mb_fb_ita$Drop_Date <- as.Date(mb_fb_ita$Drop_Date,
                               format = "%Y-%m-%d",
                               origin = "1970-01-01")

In [4]:
write.table(mb_fb_ita, "C:/Users/cepps/RMC/Mail Files/Optimized_Mail_Files/fbxs_ita/mb_fb_ita.txt", sep="\t", col.names = TRUE)

Subset and join the master FBITA and current FBITA files

In [5]:
mb_fb_ita <- sqldf(
   "
   select mon_ind, camp_type, camp_type1, ss7, Drop_Date, NAME, STREET,
          ZIP5, fico, apr, offer_amount, state, BranchNumber 
   from mb_fb_ita
   
   union all

   select 101 as mon_ind, '05.FB_ITA' as camp_type,
          'FB_ITA_0518__May-18' as camp_type1, ss7, Drop_Date,
          name1 as NAME, STREET, ZIP5, 0 as fico, 0 as apr, 
          0 as offer_amount, state, BranchNumber 
   from mb_fb_ita_0518
   "
   )

ERROR: Error in sqldf("\n   select mon_ind, camp_type, camp_type1, ss7, Drop_Date, NAME, STREET,\n          ZIP5, fico, apr, offer_amount, state, BranchNumber \n   from mb_fb_ita\n   \n   union all\n\n   select 101 as mon_ind, '05.FB_ITA' as camp_type,\n          'FB_ITA_0518__May-18' as camp_type1, ss7, Drop_Date,\n          name1 as NAME, STREET, ZIP5, 0 as fico, 0 as apr, \n          0 as offer_amount, state, BranchNumber \n   from mb_fb_ita_0518\n   "): could not find function "sqldf"

Save condensed master FBITA R data object

In [63]:
save(mb_fb_ita, 
     file = "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/new_consol/mb_fb_ita.RData")

Subset auto and retail cross sell campaigns as one cross sell data set

In [6]:
mb_xs_ita_0518 <- sqldf(
   "
   select * 
   from mb_pbfbxs_ita_0518 
   where campaign_id in ('RetailXSITA5.0_2018', 'AutoXSITA5.0_2018')
   "
   )

ERROR: Error in sqldf("\n   select * \n   from mb_pbfbxs_ita_0518 \n   where campaign_id in ('RetailXSITA5.0_2018', 'AutoXSITA5.0_2018')\n   "): could not find function "sqldf"

Print dimensions

In [7]:
dim(mb_xs_ita_0518)

ERROR: Error in eval(expr, envir, enclos): object 'mb_xs_ita_0518' not found

Print summary of variables

In [8]:
str(mb_pbfbxs_ita_0518)
summary(mb_pbfbxs_ita_0518)

ERROR: Error in str(mb_pbfbxs_ita_0518): object 'mb_pbfbxs_ita_0518' not found

Convert `Drop_Date` from integer to date type

In [9]:
mb_xs_ita_0518$Drop_Date <- as.Date("2018-05-07", format="%Y-%m-%d",
                                    origin="1970-01-01")

ERROR: Error in mb_xs_ita_0518$Drop_Date <- as.Date("2018-05-07", format = "%Y-%m-%d", : object 'mb_xs_ita_0518' not found

In [10]:
typeof(mb_xs_ita_0518$Drop_Date)

ERROR: Error in typeof(mb_xs_ita_0518$Drop_Date): object 'mb_xs_ita_0518' not found

Save XSITA dataset as R data oblect

In [72]:
save(mb_xs_ita_0518, 
     file = "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_xs_ita_0518.RData")

Load XSELLITA master dataset

In [11]:
load("C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_xsell_ita.RData")

In [3]:
write.csv(mb_xsell_ita, file = "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_xsell_ita.csv")

In [12]:
write.table(mb_xsell_ita, "C:/Users/cepps/RMC/Mail Files/Optimized_Mail_Files/fbxs_ita/mb_xsell_ita.txt", sep="\t", col.names = TRUE)

In [13]:
str(mb_xsell_ita)
summary(mb_xsell_ita)

'data.frame':	117927 obs. of  13 variables:
 $ mon_ind     : int  81 81 81 81 81 81 81 81 81 81 ...
 $ camp_type   : chr  "07.XSELL_ITA" "07.XSELL_ITA" "07.XSELL_ITA" "07.XSELL_ITA" ...
 $ camp_type1  : chr  "XSELL_ITA_0916__XS9.0_16ITA" "XSELL_ITA_0916__XS9.0_16ITA" "XSELL_ITA_0916__XS9.0_16ITA" "XSELL_ITA_0916__XS9.0_16ITA" ...
 $ SS7         : chr  "2202076" "6130959" "6205623" "7444625" ...
 $ Drop_Date   : Date, format: "2016-09-23" "2016-09-23" ...
 $ NAME        : chr  "Brad Tew" "Gwendolyn Rodgers" "Ashley Weatherred" "Griselda Sacramento" ...
 $ STREET      : chr  "4808 Austin St Apt B" "2312 Roberts St" "3833 Dunlavy St Apt 316" "180 Malone St Apt 12" ...
 $ ZIP5        : int  77004 77004 77006 77007 77009 77009 77009 77012 77012 77012 ...
 $ FICO        : num  618 568 507 597 574 597 607 619 553 568 ...
 $ APR         : chr  "0" "0" "0" "0" ...
 $ OFFER_AMOUNT: int  0 0 0 0 0 0 0 0 0 0 ...
 $ STATE       : chr  "TX" "TX" "TX" "TX" ...
 $ BRANCHNUMBER: int  536 536 541 533 560 560 560 557 557 557 ...

    mon_ind       camp_type          camp_type1            SS7
 Min.   :81.00   Length:117927      Length:117927      Length:117927
 1st Qu.:85.00   Class :character   Class :character   Class :character
 Median :89.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :89.02
 3rd Qu.:93.00
 Max.   :95.00

   Drop_Date              NAME              STREET               ZIP5
 Min.   :2016-09-23   Length:117927      Length:117927      Min.   :20110
 1st Qu.:2017-01-18   Class :character   Class :character   1st Qu.:29406
 Median :2017-05-09   Mode  :character   Mode  :character   Median :74137
 Mean   :2017-05-12                                         Mean   :55610
 3rd Qu.:2017-09-07                                         3rd Qu.:77502
 Max.   :2017-11-07                                         Max.   :88352
                                                            NA's   :149
      FICO          APR             OFFER_AMOUNT    STATE
 Min.   :   1   Length:117927      Min.   :0     Length:117927
 1st Qu.: 538   Class :character   1st Qu.:0     Class :character
 Median : 578   Mode  :character   Median :0     Mode  :character
 Mean   : 533                      Mean   :0
 3rd Qu.: 609                      3rd Qu.:0
 Max.   :9999                      Max.   :0
 NA's   :155
  BRANCHNUMBER
 Min.   : 101.0
 1st Qu.: 528.0
 Median : 570.0
 Mean   : 590.9
 3rd Qu.: 677.0
 Max.   :1217.0
 NA's   :149

Convert `Drop_Date` from integer to date type

In [14]:
mb_xsell_ita$Drop_Date <- as.Date(mb_xsell_ita$Drop_Date,
                                  format = "%Y-%m-%d",
                                  origin = "1970-01-01")

Subset and join the master XSELLITA and current XSELLITA files

In [15]:
mb_xsell_ita <- sqldf(
   "
   select mon_ind, camp_type, camp_type1, ss7, Drop_Date, NAME, STREET,
          ZIP5, fico, apr, offer_amount, state, BranchNumber 
   from mb_xsell_ita

   union all

   select 101 as mon_ind, '07.XSELL_ITA' as camp_type, 
          'XSELL_ITA_0518' as camp_type1, ss7, Drop_Date,
          name1 as NAME, STREET, ZIP5 as ZIP5, fico, 0 as apr,
          0 as offer_amount, state, BranchNumber 
   from mb_xs_ita_0518
   "
   )

ERROR: Error in sqldf("\n   select mon_ind, camp_type, camp_type1, ss7, Drop_Date, NAME, STREET,\n          ZIP5, fico, apr, offer_amount, state, BranchNumber \n   from mb_xsell_ita\n\n   union all\n\n   select 101 as mon_ind, '07.XSELL_ITA' as camp_type, \n          'XSELL_ITA_0518' as camp_type1, ss7, Drop_Date,\n          name1 as NAME, STREET, ZIP5 as ZIP5, fico, 0 as apr,\n          0 as offer_amount, state, BranchNumber \n   from mb_xs_ita_0518\n   "): could not find function "sqldf"

Save condensed master XSELLITA dataset as R data object

In [76]:
save(mb_xsell_ita, 
     file = "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/new_consol/mb_xsell_ita.RData")