In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline

import pandas as pd
import pandasql as pdsql
import warnings
import numpy as np
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
color = sns.color_palette()
pd.set_option("display.max_rows",999)
pd.set_option("display.max_columns", 999)

In [2]:
df = pd.read_csv(r'\\rmc.local\dfsroot\Marketing\SourceData\Mail files For Data Warehouse\568) 115916A_RMC_PBFBXS1.0_18ITA_Final_Mailfile.txt', 
                 sep='\t', na_values='.', encoding="ISO-8859-1", error_bad_lines=False, low_memory=False)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') 
df['drop_date'] = pd.to_datetime(df['drop_date'],infer_datetime_format=True)
df['drop_date'] = df['drop_date'].astype(str)
df.head()

,campaign_id,hhfilecode,batch,lettercd,ss7,name1,addr2,street,city,state,zip5,zip4,dob,made_unmade,qseqnum,drop_date,closed_date,mla_status,branchnumber,branchcompany,branchstreetaddress,branchcity,branchstate,branchzip,branchphone,branchfax,branchmanager,branchsupervisor,branchstatevp,distance_to_branch,conprofile,bracctno,cifno,mgc,month_split,fname,mname,lname,amt_given1,up_to_offer,from_offer_amount,fico_range_25pt,state1,test_code,fico,poffdate,rmc_phone,rmc_cellphone,unnamed:_48
0,FBITA1.0_2018,FB,MITA,FB,5106511,Ernest Baca,,713 72nd St. NW,Albuquerque,NM,87121,1301,19441008,,1,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.182721,999999999999,1004007127,27829,,,ERNEST,,BACA,,"7,000",600,625-649,NM,,637,2015-06-22,(505)234-0711,()-,NaN
1,PB1.0_18ITA,PB,MITA,PB,5547373,James Romero,,809 72nd St. NW,Albuquerque,NM,87121,1303,19550615,,2,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.096688,999999999999,022000037324,26143,,,JAMES,,ROMERO,430.49,"7,000",600,550-574,NM,,570,,(505)450-6109,,NaN
2,PB1.0_18ITA,PB,MITA,PB,5528714,Kathy Thomas,,7309 Aladdin Ct. NW,Albuquerque,NM,87121,1305,19550209,,3,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.154938,009999999999,022000003620,21153,,,KATHY,,THOMAS,794.27,"7,000",600,575-599,NM,,595,,,,NaN
3,FBITA1.0_2018,FB,MITA,FB,5793338,Yvette Salcido,,801 Cesars Palace Dr. NW,Albuquerque,NM,87121,1312,,,4,2018-01-09,2/09/2018,Z,1019,Regional Finance,"3301 Coors Blvd NW, Suite 16",Albuquerque,NM,87120-1292,(505) 415-7970,(505) 206-5691,Sindy Hernandez,Pedro A. Mariscal,Scott Letbetter,2.018869,999999999999,1004050178,27908,,,YVETTE,,SALCIDO,,"7,000","2,501",575-599,NM,,575,2015-07-31,,()-,NaN
4,FBITA1.0_2018,FB,MITA,FB,5352353,Todd Mousel,,7412 Mint Pl. NW,Albuquerque,NM,87121,1315,19780819,,5,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.228487,999999999999,1004007496,24200,,,TODD,,MOUSEL,,"7,000",600,625-649,NM,,627,2016-04-08,,()-,NaN

In [3]:
df.shape

(180000, 49)

In [4]:
np.round(df.describe(include = 'all'), 2).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
campaign_id,180000,4,PB1.0_18ITA,87518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hhfilecode,180000,3,PB,87518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
batch,180000,1,MITA,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lettercd,180000,3,PB,87518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ss7,180000,179187,3709069,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name1,180000,156505,Maria Martinez,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
addr2,180000,2947,,175311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
street,180000,171322,P.O. Box 34,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,180000,3060,Houston,9838,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,180000,9,TX,74904,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip5,180000,NaN,NaN,NaN,54555.8,23325.2,20109,29617,73010,77471,88435
zip4,180000,NaN,NaN,NaN,4799.21,2503.22,1,2743,4457,6760,9999
dob,180000,22980,,15853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
made_unmade,180000,1,,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qseqnum,180000,NaN,NaN,NaN,90042.3,51978.5,1,45054.8,90054.5,135054,180055
drop_date,180000,1,2018-01-09,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
closed_date,180000,1,2/09/2018,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mla_status,180000,2,N,164134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchnumber,180000,NaN,NaN,NaN,597.74,252.97,101,519,572,718,1217
branchcompany,180000,1,Regional Finance,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstreetaddress,180000,340,1703 Shaver Street,1467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchcity,180000,259,San Antonio,8472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstate,180000,9,TX,74904,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchzip,180000,340,77502-2027,1467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchphone,180000,340,(832) 786-3844,1467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchfax,180000,340,(832) 559-0679,1467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchmanager,180000,337,,1774,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchsupervisor,180000,42,Sandra Lopez,9301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstatevp,180000,6,Michael Johnson,66800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
distance_to_branch,180000,NaN,NaN,NaN,8.04,14.58,0,2.7,5.18,9.79,694.14
conprofile,180000,108,999999999999,117378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bracctno,180000,180000,112000034688,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cifno,180000,170510,,9491,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mgc,180000,1,,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_split,180000,1,,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fname,180000,21942,MARIA,2562,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mname,179999,841,,155538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lname,179994,35055,SMITH,1508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amt_given1,180000,60573,,92482,NaN,NaN,NaN,NaN,NaN,NaN,NaN
up_to_offer,180000,2,"7,000",160246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
from_offer_amount,180000,3,600,158964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fico_range_25pt,180000,20,600-624,37910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state1,180000,9,,74934,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test_code,180000,1,,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fico,180000,462,999,3030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poffdate,180000,1062,,96905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rmc_phone,180000,98261,,80055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rmc_cellphone,180000,14789,,105568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unnamed:_48,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.campaign_id.unique()

array(['FBITA1.0_2018', 'PB1.0_18ITA', 'RetailXSITA1.0_2018',
       'AutoXSITA1.0_2018'], dtype=object)

In [6]:
pysql = lambda q: pdsql.sqldf(q, globals())
str1 = """
       SELECT * 
       FROM df 
       WHERE campaign_id IN ('FBITA1.0_2018');
       """

mb_fb_ita = pysql(str1)
mb_fb_ita.head()

,campaign_id,hhfilecode,batch,lettercd,ss7,name1,addr2,street,city,state,zip5,zip4,dob,made_unmade,qseqnum,drop_date,closed_date,mla_status,branchnumber,branchcompany,branchstreetaddress,branchcity,branchstate,branchzip,branchphone,branchfax,branchmanager,branchsupervisor,branchstatevp,distance_to_branch,conprofile,bracctno,cifno,mgc,month_split,fname,mname,lname,amt_given1,up_to_offer,from_offer_amount,fico_range_25pt,state1,test_code,fico,poffdate,rmc_phone,rmc_cellphone,unnamed:_48
0,FBITA1.0_2018,FB,MITA,FB,5106511,Ernest Baca,,713 72nd St. NW,Albuquerque,NM,87121,1301,19441008,,1,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.182721,999999999999,1004007127,27829,,,ERNEST,,BACA,,"7,000",600,625-649,NM,,637,2015-06-22,(505)234-0711,()-,None
1,FBITA1.0_2018,FB,MITA,FB,5793338,Yvette Salcido,,801 Cesars Palace Dr. NW,Albuquerque,NM,87121,1312,,,4,2018-01-09,2/09/2018,Z,1019,Regional Finance,"3301 Coors Blvd NW, Suite 16",Albuquerque,NM,87120-1292,(505) 415-7970,(505) 206-5691,Sindy Hernandez,Pedro A. Mariscal,Scott Letbetter,2.018869,999999999999,1004050178,27908,,,YVETTE,,SALCIDO,,"7,000","2,501",575-599,NM,,575,2015-07-31,,()-,None
2,FBITA1.0_2018,FB,MITA,FB,5352353,Todd Mousel,,7412 Mint Pl. NW,Albuquerque,NM,87121,1315,19780819,,5,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,2.228487,999999999999,1004007496,24200,,,TODD,,MOUSEL,,"7,000",600,625-649,NM,,627,2016-04-08,,()-,None
3,FBITA1.0_2018,FB,MITA,FB,1670509,Eduardo Rodriquez,,6901 Glenrio Rd. NW,Albuquerque,NM,87121,7827,19870122,,8,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,1.983736,,1004007612,28368,,,EDUARDO,,RODRIQUEZ,,"7,000",600,500-524,NM,,503,2015-09-08,(505)985-0449,()-,None
4,FBITA1.0_2018,FB,MITA,FB,5139159,Geneieve Medina,,6801 Ivy Pl. SW,Albuquerque,NM,87121,3266,19630705,,10,2018-01-09,2/09/2018,N,1004,Regional Finance,"5300 Sequoia Rd NW, Suite L",Albuquerque,NM,87120-1418,(505) 835-1627,(505) 738-3807,Gabriela Antillon,Pedro A. Mariscal,Scott Letbetter,3.567774,999999999999,022000017871,25681,,,GENEIEVE,,MEDINA,,"7,000",600,675-699,NM,,697,2017-02-27,(505)352-2033,()-,None

In [7]:
mb_fb_ita.shape

(83095, 49)

In [8]:
np.round(mb_fb_ita.describe(include = 'all'), 2).T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
campaign_id,83095,1,FBITA1.0_2018,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hhfilecode,83095,1,FB,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
batch,83095,1,MITA,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lettercd,83095,1,FB,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ss7,83095,82924,0417005,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name1,83095,76391,Maria Martinez,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
addr2,83095,1886,,80244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
street,83095,80666,P.O. Box 34,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,83095,2557,Houston,4258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,83095,9,TX,33367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip5,83095,NaN,NaN,NaN,55030.4,22926.9,20111,29824,73018,77459,88352
zip4,83095,NaN,NaN,NaN,4813.72,2502.21,1,2758,4497,6789,9999
dob,83095,19583,,15066,NaN,NaN,NaN,NaN,NaN,NaN,NaN
made_unmade,83095,1,,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qseqnum,83095,NaN,NaN,NaN,89118.7,52120.3,1,40610,89586,133272,180052
drop_date,83095,1,2018-01-09,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
closed_date,83095,1,2/09/2018,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mla_status,83095,2,N,68027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchnumber,83095,NaN,NaN,NaN,596.23,254.03,101,517,570,803,1217
branchcompany,83095,1,Regional Finance,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstreetaddress,83095,340,"2021 Gallatin Pike North, Suite 240",690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchcity,83095,259,San Antonio,3802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstate,83095,9,TX,33367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchzip,83095,340,37115-2029,690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchphone,83095,340,(615) 851-5054,690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchfax,83095,340,(615) 647-6852,690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchmanager,83095,337,,872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchsupervisor,83095,42,Sandra Lopez,4315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
branchstatevp,83095,6,Michael Johnson,29909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
distance_to_branch,83095,NaN,NaN,NaN,8.35,15.43,0,2.84,5.43,10.14,694.14
conprofile,83095,90,999999999999,48551,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bracctno,83095,83095,0135038626,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cifno,83095,82995,,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mgc,83095,1,,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_split,83095,1,,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fname,83095,10964,MARIA,1199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mname,83095,384,,69968,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lname,83091,20071,SMITH,691,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amt_given1,83095,1,,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
up_to_offer,83095,2,"7,000",72581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
from_offer_amount,83095,3,600,76412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fico_range_25pt,83095,20,625-649,19706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state1,83095,9,,33397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test_code,83095,1,,83095,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fico,83095,430,999,2468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poffdate,83095,1061,2017-02-24,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rmc_phone,83095,48323,,34223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rmc_cellphone,83095,14789,()-,59535,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unnamed:_48,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
list(mb_fb_ita)

['campaign_id',
 'hhfilecode',
 'batch',
 'lettercd',
 'ss7',
 'name1',
 'addr2',
 'street',
 'city',
 'state',
 'zip5',
 'zip4',
 'dob',
 'made_unmade',
 'qseqnum',
 'drop_date',
 'closed_date',
 'mla_status',
 'branchnumber',
 'branchcompany',
 'branchstreetaddress',
 'branchcity',
 'branchstate',
 'branchzip',
 'branchphone',
 'branchfax',
 'branchmanager',
 'branchsupervisor',
 'branchstatevp',
 'distance_to_branch',
 'conprofile',
 'bracctno',
 'cifno',
 'mgc',
 'month_split',
 'fname',
 'mname',
 'lname',
 'amt_given1',
 'up_to_offer',
 'from_offer_amount',
 'fico_range_25pt',
 'state1',
 'test_code',
 'fico',
 'poffdate',
 'rmc_phone',
 'rmc_cellphone',
 'unnamed:_48']

In [ ]:
df = pd.read_csv(r'C:\Users\cepps\RMC\Mail Files\R_data_objects\fbxs_ita\mb_xsell_ita_ALL.txt', 
                 sep='\t', na_values='.', encoding="ISO-8859-1", error_bad_lines=False, low_memory=False)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') 
df['drop_date'] = pd.to_datetime(df['drop_date'],infer_datetime_format=True)
df['drop_date'] = df['drop_date'].astype(str)
df.head()

In [ ]:
df.drop_date.unique()

In [ ]:
df.groupby(["camp_type", "camp_type1", "drop_date"]).size().reset_index(name="count")