In [1]:
library(dplyr)
library(sqldf)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [2]:
# Import new mailfile
df <- read.table("E:/Pallavi/2018/rev1/rev2/mailfile/mailfiles/567) 118144A_RMC_NB_5.0_Final_mailfile.txt", 
                 fill=TRUE, header=TRUE, sep="\t", quote="")
nrow(df)

[1] 620000

In [3]:
# Check Drop_Date
unique(df$Drop_Date)

[1] 06/19/2018
Levels:  06/19/2018

In [4]:
str(df$Drop_Date)

 Factor w/ 2 levels "","06/19/2018": 2 2 2 2 2 2 2 2 2 2 ...

In [5]:
# CHANGE DATE and date format if required
df$Drop_Date <- as.Date("2018-06-19",format="%Y-%m-%d",origin="1970-01-01")
str(df$Drop_Date)

 Date[1:620000], format: "2018-06-19" "2018-06-19" "2018-06-19" "2018-06-19" "2018-06-19" ...

In [6]:
unique(df$Drop_Date)

[1] "2018-06-19"

In [7]:
# Load latest consolidated mailfile
load("C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_fb_ita.RData")

In [9]:
write.table(mb_fb_ita, "C:/Users/cepps/RMC/Mail Files/R_data_objects/fbxs_ita/mb_fb_ita_ALL.txt", sep="\t")

In [ ]:
mb_nbcc$Drop_Date <- as.Date(mb_nbcc$Drop_Date,format="%Y-%m-%d",origin="1970-01-01")
nrow(mb_nbcc)

In [11]:
unique(mb_fb_ita$Drop_Date)

 [1] "2016-10-04" "2016-11-03" "2017-01-13" "2017-02-01" "2017-03-09"
 [6] "2017-04-13" "2017-05-09" "2017-06-07" "2017-07-07" "2017-08-04"
[11] "2017-09-07" "2017-10-05" "2017-11-07"

In [ ]:
df <- sqldf(
    "
    select *,
        case when length(SS7) = 5 then '00'||SS7 
             when length(SS7)=6 then '0'||SS7 
        else SS7 end as SSN7 
    from df a
    "
)

In [ ]:
df <- sqldf(
  "
  select *, 
    case when length(SS7) = 5 then 'A00'|| SS7 
         when length(SS7) = 6 then 'A0'|| SS7 
          else 'A' || SS7 end as SSN7 
  from df a
  "
  )

In [ ]:
df$CheckAmount <- gsub("$","",df$CheckAmount,fixed=TRUE)
df$CheckAmount <- gsub(",","",df$CheckAmount,fixed=TRUE)
df$CheckAmount <- as.integer(df$CheckAmount)

In [ ]:
mb_nbcc<- sqldf("select mon_ind, camp_type, camp_type1,
                ss7,Drop_Date, NAME, STREET, ZIP5 as ZIP5, fico, apr, 
                offer_amount, state, BranchNumber 
                from mb_nbcc
                
                union all
                
                select '102' as mon_ind,'02.NBCC' as camp_type,'NBCC_0618__Jun-18_Drop-1' as camp_type1,
                SS7 as ss7, Drop_Date as Drop_Date, FName as NAME, STREET, ZIP5, fico, Apr1 as apr,
                CheckAmount as offer_amount, state, BranchNumber 
                from df
                ")

In [ ]:
unique(mb_nbcc$camp_type1)

In [ ]:
nrow(mb_nbcc)

In [ ]:
write.table(mydata, "c:/mydata.txt", sep="\t")

In [ ]:
save(mb_nbcc_0618, file="E:/Pallavi/2018/rev1/rev2/mailfile/mailfiles/mb_nbcc_0618.RData")

save(mb_nbcc,file="E:/Pallavi/2018/rev1/rev2/mailfile/mailfiles/new_consol/mb_nbcc.RData")